<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Manufacturer="Quantum Concepts" Name="MVC Admin Plugin for CodeGenerator" Version="1.0.4.0" Language="1033" UpgradeCode="95f5e0b7-83f5-4782-a4ab-46ca307496b1">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86"/>
    <Media Id="1" Cabinet="1" CompressionLevel="high"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

    <Property Id="RegKey" Value="Software\Quantum Concepts\MVC Admin Plugin for CodeGenerator"/>
	</Product>
</Wix>